* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 2rem;
    margin-top: 4rem;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.content h1 {
    font-size: 4.5rem;
    text-align: center;
}
.content div {
    display: flex;
    gap: 1rem;
}
.content input {
    height: 2.5rem;
    width: 17rem;
    border: 1px solid black;
    outline: none;
    padding-left: 1rem;
    font-size: 1rem;
    border-radius: 0.4rem;
}
.content div button {
    height: 2.5rem;
    width: 5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.showList {
    background-color: green;
    width: 370px;
    min-height: 50vh;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}